<tr id="<%= dom_id read %>">
  <td><%= read.temperature %></td>
  <td><%= read.time_stamp&.strftime("%d/%m/%Y - %H:%M:%S" ) %></td>
  <td><%= read.created_at.strftime("%d/%m/%Y - %H:%M:%S" ) %></td>
</tr>
