<p id="notice"><%= notice %></p>

<h1>Leituras do DHT-11</h1>
<%= link_to 'Limpar registros', destroy_all_reads_path %>

<%= turbo_stream_from :reads %>

<table>
  <thead>
    <tr>
      <th>Temperatura</th>
      <th>Data de leitura</th>
      <th>Data de criação do registro</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="reads">
    <% if @reads %>
    <%= render @reads %>
    <% end %>
  </tbody>
</table>
<br>
